{% extends "base.html.twig" %}

{% block body %}
    <main class="container pt-2 pb-2">
        <div class="row">
            {{ render(controller('App\\Controller\\LeftSideController::leftSide')) }}

            <div class="col-12 col-md-8 col-lg-9 col-xl-10 blog-main">
                <div class="card-deck" style="border-radius: 0;">
                    <div class="card mb-4 box-shadow" style="border-radius: 0;">
                        <div class="card-header">
                            <div class="row mx-auto text-center">
                                <div class="col-12">
                                    <h1 class="mt-3 text-left" style="font-size: 50px; color:#005289;">La bronchiolite, qu’est-ce que c’est ?</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 18px;">
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-uppercase mt-3"><b>Définition</b></h6>
                                    <p class="mt-3" style="font-size: 14px;">
                                        La bronchiolite aigue est une affection virale respiratoire qui atteint les petites bronches.<br/>
                                        Elle atteint les nouveaux nés et les nourrissons de 1 mois à 2 ans. Elle survient en période épidémique de mi-octobre, avec un pic en décembre pour se terminer à la fin de l’hiver.<br />
                                        Cette épidémie concerne environ 460 000 nourrissons (30 % de la classe d’âge des enfants de 1 mois à 2 ans).<br/>
                                        Dans la grande majorité des cas, le diagnostic médical et le traitement relèvent d’une prise en charge de ville. Seule une très petite proportion nécessite un recours hospitalier.<br />
                                        C’est une maladie le plus souvent bénigne.<br />
                                        Cinq à dix jours sont nécessaires pour voir disparaître les signes cliniques. Son traitement, dans le cadre de la première bronchiolite est essentiellement symptomatique.
                                    </p>

                                    <h6 class="text-uppercase mt-5"><b>Les symptômes</b></h6>
                                    <p class="mt-3" style="font-size: 14px;">
                                        Le premier symptôme est une rhinite claire accompagnée par une toux.<br />
                                        Cette toux constitue le motif principal de consultation médicale.<br/>
                                        Ces deux symptômes sont accompagnés d’une fièvre modérée et de difficultés alimentaires.
                                    </p>

                                    <h6 class="text-uppercase mt-5"><b>Le traitement kinésithérapique</b></h6>
                                    <p class="mt-3" style="font-size: 14px;">
                                        Le symptôme principal, la toux, signe une atteinte des petites bronches qui vont réagir à l’infection virale par une augmentation de la sécrétion de mucus.<br/>
                                        La kinésithérapie intervient pour aider votre bébé à évacuer ces sécrétions qui le gênent pour respirer.
                                        Les techniques de kinésithérapie sont aujourd’hui parfaitement codifiées. Elles sont enseignées dans tous les Instituts de Formation en France et l’offre de formation continue est importante et facilement accessible pour les kinésithérapeutes. Les techniques de désencombrement font l’objet d’un consensus professionnel en raison de leur efficacité et de leur innocuité.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}

{% endblock %}