{% extends "base.html.twig" %}

{% block body %}
    <main class="container pt-2 pb-2">
        <div class="row">
            {{ render(controller('App\\Controller\\LeftSideController::leftSide')) }}

            <div class="col-12 col-md-8 col-lg-9 col-xl-10 blog-main">
                <div class="card-deck" style="border-radius: 0;">
                    <div class="card mb-4 box-shadow" style="border-radius: 0;">
                        <div class="card-header" style="border-radius: 0">
                            <div class="row mx-auto text-center">
                                <div class="col-12">
                                    <h1 class="mt-3 text-left" style="font-size: 50px; color:#005289;">Les autres réseaux bronchiolite de France</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 18px;">
                            <div class="row">
                                <div class="col-12">
                                    <p><b>Réseau
                                        bronchiolite 59-62</b></p>
                                        <p><u><a target="_blank" href="http://www.reseau-bronchiolite-npdc.fr/index.php">http://www.reseau-bronchiolite-npdc.fr/index.php</a></u></p>
                                        <p>Tél. : 15</p>
                                        <p><hr/></p>

                                        <p><b>Réseau
                                        Bronchiolite Picard</b></p>
                                        <p><u><a target="_blank" href="http://respicard.fr/">http://respicard.fr/</a></u></p>
                                        <p>Du
                                        15 octobre au 15 avril</p>
                                        <p>Tél. : 03
                                        22 22 00 33</p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><b>Réseau-Bronchiolite&nbsp;Ile-de-France</b></p>
                                        <p><u><a target="_blank" href="https://www.reseau-bronchio.org/">https://www.reseau-bronchio.org/</a></u></p>
                                        <p>Vendredi
                                        11 octobre 2019 au&nbsp;Dimanche 16 février 2020</p>
                                        <p>Tél. : 0
                                        820 820&nbsp;603</p>
                                        <p><hr/>
                                        
                                        </p>
                                        
                                        <p><b>Urgence
                                        bronchiolite Poitou Charentes</b></p>
                                        <p><u><a target="_blank" href="http://www.bronchiolite-poitoucharentes.org/">http://www.bronchiolite-poitoucharentes.org/</a></u></p>
                                        <p>Week-end
                                        et jours férié d'octobre à mars</p>
                                        <p>Tél. : <span>0&nbsp;820&nbsp;825&nbsp;600</span></p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><span><b>Urgence
                                        Bronchiolite Aquitaine</b></span></p>
                                        <p><u><a target="_blank" href="https://www.esea-na.fr/aquirespi/page-1"><span>https://www.esea-na.fr/aquirespi/page-1</span></a></u></p>
                                        <p>D’octobre
                                        à avril</p>
                                        <p>Tél. : 0&nbsp;820&nbsp;825&nbsp;600</p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><b>Bronchiolite Assistance Midi Pyrénées - Occirespi</b></p>
                                        <p>Novembre à avril, weekend et jours fériés.</p>
                                        <p>Tél. : 0892
                                        682&nbsp;022</p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><b>KinéGarde
                                        Respiratoire Grand Est</b></p>
                                        <p><u><a target="_blank" href="http://www.urpsmk.fr/kinegarde_accueil.html">http://www.urpsmk.fr/kinegarde_accueil.html</a></u></p>
                                        <p>Novembre
                                        à Mars</p>
                                        <p>Tél. : <b>15</b> pour urgence</p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><b>Respi
                                        Loiret</b></p>
                                        <p><u><a target="_blank" href="http://www.respiloiret.net/">http://www.respiloiret.net/</a></u></p>
                                        <p>Octobre
                                        à mi avril</p>
                                        <p>Tél. : <font color="#071622"><font face="Arial, serif"><span style="background: #ffffff">02.38.22.29.89</span></p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><b>Réseau
                                        Kiné Respi Bourgogne</b><br/>
                                        Octobre
                                        à Avril</p>
                                        <p>Tél. : 0820
                                        000&nbsp;850 - 15</p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><b>Garde
                                        Auvergne Bronchiolite</b></p>
                                        <p><u><a target="_blank" href="http://garde-auvergne-bronchiolite.fr/">http://garde-auvergne-bronchiolite.fr/</a></u></p>
                                        <p>Pour
                                        trouver un kiné de garde, aller sur leur site internet</p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><a name="_GoBack"></a>
                                        <b>Arbam Paca – Région Sud
                                        et Corse</b></p>
                                        <p>Octobre
                                        à Mars</p>
                                        <p><u><a target="_blank" href="http://www.arbam.fr/"><span>http://www.arbam.fr/</span></a></u></p>
                                        <p>Tél. : 09
                                        72 34 24 24</p>
                                        <p><hr/>
                                        
                                        </p>
                                        <p><b>S.O.S Kinébronchiolite Hérault</b></p>
                                        <p><u><a target="_blank" href="http://soskinebronchiolite.e-monsite.com/">http://soskinebronchiolite.e-monsite.com/</a></u></p>
                                        <p>Tél. : 06.95.34.07.38</p>                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}

{% endblock %}