<div class="container-fluid" style="background-color: #59b0b7;">
    <div class="container">
        <footer class="text-center">
            <div class="row" style="color: white;">
                <div class="col-12 col-sm-12 col-md-4 mb-4 mt-2">
                    <a href="*" style="color: white;">Mention légales</a>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-3 mt-2 text-left">
                    <div class="row">
                        <div class="col-4">
                            <div class="mx-auto text-center">
                                <img class="img-fluid" src="{{ asset('assets/img/ukr_logo.png') }}" />
                            </div>
                        </div>

                        <div class="col-8 pl-0">
                            <p style="font-size: 12px;">
                                Union des Kinésithérapeutes Respiratoires<br />
                                Locaux ADIR Asso CHU Bois Guillaume<br />
                                147 av. du Maréchal Juin<br />
                                76230 Bois Guillaume - Tél : 02 35 59 29 78<br />
                                Siret : 449 555 085 000 25<br />
                                Formation : 23760448776<br />
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-3 mt-2 text-left">
                    <div class="row">
                        <div class="col-4">
                            <div class="mx-auto text-center">
                                <img class="img-fluid" src="{{ asset('assets/img/rbn_logo.png') }}" />
                            </div>
                        </div>

                        <div class="col-8 pl-0">
                            <p style="font-size: 12px;">
                                Réseau Bronchiolite Normand<br />
                                UKR - Locaux d'ADIR association<br />
                                Hôpital de Bois-Guillaume<br />
                                147 avenue du Maréchal Juin<br />
                                76031 ROUEN Cedex<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>